@import url("variables.css");

body {
  font-family: Arial, Helvetica, sans-serif;
}
.columns {
  display: flex;
  justify-content: space-around;
}
.column-30 {
  width: 30vw;
}
.column-30 img {
  width: 100%;
  height: auto;
}
.column-30 p,
.column-30 span {
  padding: 0 15px 15px 15px;
}
.column-30 span {
  font-weight: bold;
  margin-top: 10px !important;
}
